﻿/*
    Autor           : Henry Wong
    Descripcion : Hoja de estilos de todas las paginas
*/

body {
    background-color: #FFFF99;
}

body, table {
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    color:  blue;
}

a:hover{
    color: red;
}

.titulo{
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

th {
    background-color: orange;
}

.errores{
    color:  red;
}